@media (max-width: 937px) {
    .nav-toggle {
        display: flex;
    }

    .nav-logo {
        height: 40px;
        width: 40px;
    }

    .nav-right {
        flex-direction: column;
        justify-content: center;
        background-color: var(--background-color);
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        padding-left: 18px;
        gap: 10px;
        font-weight: bold;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        padding: 0;
        border-bottom:2px solid var(--text-color);
        border-left:2px solid var(--text-color);
        border-top:2px solid var(--text-color);
        border-right:2px solid var(--text-color);
    }
    .nav-right.active {
        max-height: 500px;
        opacity: 1;
        padding: 10px 0;
    }

    .nav-left h1 {
        font-size: 20px;
    }

    .nav-right a {
        font-size: 18px;
        padding: 12px 16px;
    }

    .nav-indicator {
        display: none;
    }

    /* body.menu-open .home-contant {
        margin-top: 250px;
    } */
    .home-contant {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1px;
        margin-top: 12px;
    }

    .home-contant .home-left {
        order: 2;
        height: 50vh;
        width: 100vw;
        padding: 1px;
        margin: 0px;
        flex-grow: 1;
        margin-top: -20px;
        font-size: 14px;
    }

    .home-left .name {
        font-size: 15px;
        font-weight: bold;
    }

    .home-left .title {
        font-size: 14px;
        margin-bottom: -15px;
    }

    .home-contant .home-right {
        order: 1;
        height: 50vh;
        width: 100vw;
        flex-grow: 1;
        padding-top:50px;
    }
    .home-right .circle1{
        width: 190px;
        height: 190px;
    }
    .home-right .profile{
        width: 190px;
        height: 190px;
    }
    .home-left .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-top: 25px;
    }
    .btn-resume {
        margin-top: 10px;
    }
}